<ion-view view-title="+Próximo">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
      <ion-item>
        <button class="button icon-left ion-home">Home</button>
        <button class="button icon-left ion-star button-positive">Favorites</button>
        <a class="button icon-right ion-chevron-right button-calm">Learn More</a>
        <a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
        <button class="button icon ion-gear-a"></button>
        <a class="button button-icon icon ion-settings"></a>
        <a class="button button-outline icon-right ion-navicon button-balanced">Reorder</a>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>
