<ion-view view-title="Search">
  <ion-content>
    <h1>Search</h1>

    <div class="item range">
      <i class="icon ion-volume-low"></i>
      <input type="range" name="volume">
      <i class="icon ion-volume-high"></i>
    </div>

    <div class="list">
      <div class="item range range-positive">
        <i class="icon ion-ios-sunny-outline"></i>
        <input type="range" name="volume" min="0" max="100" value="33">
        <i class="icon ion-ios-sunny"></i>
      </div>
    </div>


    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Lightsaber
        </div>
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>

    </div>

    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
      <div class="tabs">
        <a class="tab-item active" href="#">
          <i class="icon ion-home"></i>
          Test
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-star"></i>
          Favorites
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-gear-a"></i>
          Settings
        </a>
      </div>
    </div>
    <div class="tabs-striped tabs-color-assertive">
      <div class="tabs">
        <a class="tab-item active" href="#">
          <i class="icon ion-home"></i>
          Test
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-star"></i>
          Favorites
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-gear-a"></i>
          Settings
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
